/* Navigation */
.navbar-item {
    padding: 25;
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    transition: 0.7s;
}
.navbar-item:hover {
    background: #266581;
    transition: 0.7s;
}
.navbar-item-logo {
    padding: 10;
    display: inline-block;
    text-transform: uppercase;
    transition: 0.7s;
    float: left;
}
.navbar-item-logo:hover {
    background: #266581;
    transition: 0.7s;
}
#navbar {
    width: 100%;
    background: black;
    top: 0px;
    left: 0px;
    text-align: center;
    position: fixed;
    z-index: 100;
    opacity: 0.6;
}
#navbar a {
    transition: 0.7s;
    color: #9cc9f2;
    font-family: 'Raleway', sans-serif;
}
#navbar:hover a {
    transition: 0.7s;
    color: white;
}

/* Home */
#header {
    width: 100%;
    height: auto;
}
#home {
    padding: 0;
    margin: 0;
}
#home h1 {
    position: absolute;
    width: 100%;
    top: 100px;
    color: #daecff;
    text-shadow: 1px 1px 1px black;
    font-size: 40px;
    padding: 20 0;
    opacity: 0.7;
}
.icon {
    height: 30px;
}
#social-icons.container {
    text-align: center;
}
#mail {
    position: absolute;
    top: 100px;
    margin: 0 -50;
}
#facebook {
    position: absolute;
    top: 100px;
    margin: 0px;
}
#twitter {
    position: absolute;
    top: 100px;
    margin: 0 50;
}
/* About */
#about {
    background: #266581;
    color: #daecff;
    padding: 100;
}
#about h1 {
    color: white;
}
#about h2 {
    color: #daecff;
}
/* Leadership */
#leadership.container {
    padding: 100 0;
    width: 100%;
}

.profile-left {
    padding: 50 0;
    text-align: left;
    transition: 0.5s;
}
.circle-left {
    border-radius: 50%;
    border: 10px solid #266581;
    background: white;
    width: 200px;
    height: 200px;
    margin: 25 60 250 100;
    float: left;
}
.profile-content-left {
    width: 700px;
    margin: auto;
    border: 1px dotted gray;
    padding: 0 50;
    box-shadow: 1px 1px 1px #266581;
    transition: 0.7s;
}
.profile-content-left:hover {
    transition: 0.7s;
    background: #daecff;
}
.profile-right {
    padding: 50 0;
    text-align: right;
    transition: 0.5s;
}
.circle-right {
    border-radius: 50%;
    border: 10px solid #266581;
    background: white;
    width: 200px;
    height: 200px;
    margin: 25 100 250 60;
    float: right;
}
.profile-content-right {
    width: 700px;
    margin: auto;
    border: 1px dotted gray;
    padding: 0 50;
    box-shadow: -1px 1px 1px #266581;
    transition: 0.7s;
}
.profile-content-right:hover {
    transition: 0.7s;
    background: #daecff;
}

/* Events */
#events.container {
    background: #1a93dc;
    padding: 100px;
}
#events h1 {
    color: white;
}

/*Partners*/
#partners.container {
    width: 100%;
    text-align: center;
    margin: 100 0;
    padding: 100 0;
}
#partners.container h1 {
    margin-bottom: 50px;
}
.logo {
    transition: 0.7s;
    opacity: 0.5;
    margin: 30;
    height: 100px;
}
.logo:hover {
    transition: 0.7s;
    opacity: 1;
}

/* Contact */
#contact.container {
    text-align: center;
    background: #daecff;
    padding: 75;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}
html {
    overflow-x: hidden;
}
footer {
    width: 100%;
    background: #266581;
    padding: 20 0;
    text-align: center;
    color: #1a93dc;
}
.container p {
    line-height: 1.7;
}
.column {
    display: inline-block;
    width: 27%;
    margin: auto;
    text-align: left;
    padding: 0 20;
}
h1 {
    text-align: center;
    color: #1a93dc;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
}
h2 {
    color: #1a93dc;
}
h3 {
    color: #266581;
}
a {
    text-decoration: none;
    color: #1a93dc;
}
ul {
    list-style-type: none;
}

/* Responsitivity */
@media screen and (max-width: 682px) {
    #home h1 {
        top: 125px;
        font-size: 35px;
    }
}
@media screen and (max-width: 766px) {
    #navbar {
        width: 766px;
    }
    .logo {
        transition: 0.7s;
        opacity: 0.5;
        display: block;
        height: 100px;
        margin: 30 auto;
    }
}

@media screen and (max-width: 876px) {
    .column {
        display: block;
        width: 100%;
    }
    #about {
        padding: 50px;
    }
    .profile-left {
        padding: 0;
        display: block;
        border: 1px dotted gray;
        box-shadow: 1px 1px 1px #266581;
        margin: 20px;
    }
    .profile-left:hover {
        background: #daecff;
    }
    .circle-left {
        margin: 10 auto;
        width: 150px;
        height: 150px;
        display: block;
        float: none;
    }
    .profile-content-left {
        padding: 0;
        width: 90%;
        border: none;
        box-shadow: none;
    }
    .profile-content-left h2, .profile-content-left h3{
        text-align: center;
    }
    .profile-right {
        padding: 0;
        display: block;
        border: 1px dotted gray;
        box-shadow: 1px 1px 1px #266581;
        margin: 20px;
        text-align: left;
    }
    .profile-right:hover {
        background: #daecff;
    }
    .circle-right {
        margin: 10 auto;
        width: 150px;
        height: 150px;
        display: block;
        float: none;
    }
    .profile-content-right {
        padding: 0;
        width: 90%;
        border: none;
        box-shadow: none;
    }
    .profile-content-right h2, .profile-content-right h3{
        text-align: center;
    }

}
@media screen and (min-width: 1076px) {
    #header {
        margin-top: -150px;
    }
    #home h1 {
        font-size: 60px;
    }
    #partners.container {
        padding: 500 0;
    }
}