/* Navigation */
.navbar-item {
    padding: 20;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    transition: 0.7s;
}
.navbar-item:hover {
    background: #266581;
    transition: 0.7s;
}
.navbar-item-logo {
    padding: 15;
    display: inline-block;
    text-transform: uppercase;
    transition: 0.7s;
    float: left;
}
.navbar-item-logo:hover {
    background: #266581;
    transition: 0.7s;
}
#navbar {
    width: 100%;
    background: black;
    top: 0px;
    left: 0px;
    text-align: center;
    position: fixed;
    z-index: 100;
    opacity: 0.6;
}
#navbar a {
    transition: 0.7s;
    color: #9cc9f2;
    font-family: 'Raleway', sans-serif;
}
#navbar:hover a {
    transition: 0.7s;
    color: white;
}
#mail, #facebook, #twitter {
    padding: 15;
    float: right;
}

/* Home */
#header {
    width: 100%;
    height: auto;
}
#home {
    padding: 0;
    margin: 0;
}
#home h1 {
    position: absolute;
    width: 100%;
    top: 50px;
    color: #daecff;
    text-shadow: 1px 1px 1px black;
    font-size: 70px;
    padding: 20 0;
    opacity: 0.7;
}
/* About */
#about {
    background: #266581;
    color: #daecff;
    padding: 100;
}
#about h1 {
    color: white;
}
#about h2 {
    color: #daecff;
}

/* Leadership */
#leadership.container {
    padding: 100 0;
    width: 100%;
}
.profile-left {
    padding: 0;
    display: inline-block;
    border: 1px dotted gray;
    box-shadow: -1px 1px 1px #266581;
    margin: 10 100;
    transition: 0.7s;
}
.profile-left:hover {
    background: #daecff;
    transition: 0.7s;    
}
.circle-left {
    border-radius: 50%;
    border: 10px solid #266581;
    background: white;
    width: 200px;
    height: 200px;
    margin: 25 50 20 20;
    float: left;
    display: inline-block;
}
.profile-content-left {
    padding: 0 50;
}
.profile-left p, .profile-right p {
    color: black;
}
.profile-right {
    transition: 0.7s;
    padding: 0;
    display: inline-block;
    border: 1px dotted gray;
    box-shadow: 1px 1px 1px #266581;
    margin: 10 100;
    text-align: right;
}
.profile-right:hover {
    transition: 0.7s;
    background: #daecff;
}
.circle-right {
    border-radius: 50%;
    border: 10px solid #266581;
    background: white;
    width: 200px;
    height: 200px;
    margin: 25 20 20 50;
    float: right;
    display: inline-block;
}
.profile-content-right {
    padding: 0 50;
}

/* Events */
#events.container {
    background: #266581;
    padding: 100 0 50 0;
    display: inline-block;
    width: 100%;
}
#events h1 {
    color: white;
    margin-bottom: 70px;
}
.events-box {
    width: 32%;
    margin: 0;
    padding: 0;
    opacity: 0.7;
    transition: 0.7s;
    float: left;
}
.events-box:hover {
    opacity: 1;
    transition: 0.7s;
}

/* Recruitment */
#apply.container {
    padding: 100;
    background: #daecff;
}

/*Partners*/
#partners.container {
    width: 100%;
    text-align: center;
    margin: 50 0;
    padding: 50 0;
}
#partners.container h1 {
    margin-bottom: 50px;
}
.logo {
    transition: 0.7s;
    opacity: 0.5;
    margin: 30;
    height: 100px;
}
.logo:hover {
    transition: 0.7s;
    opacity: 1;
}


/* Contact */
#contact.container {
    text-align: center;
    background: #daecff;
    padding: 75 50 200 50;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}
html {
    overflow-x: hidden;
}
footer {
    width: 100%;
    background: #266581;
    padding: 20 0;
    text-align: center;
    color: #1a93dc;
}
.container p {
    line-height: 1.7;
}
.column {
    display: inline-block;
    width: 27.7%;
    margin: auto;
    text-align: center;
    padding: 0 20;
}
h1 {
    text-align: center;
    color: #1a93dc;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
}
h2 {
    color: #1a93dc;
}
h3 {
    color: #266581;
}
a {
    text-decoration: none;
    color: #1a93dc;
}
ul {
    list-style-type: none;
}
iframe {
    margin: 100 0;
}
button {
    padding: 20 50;
    margin-top: 30px;
    border: none;
    font-size: 18px;
    background: #266581;
    color: white;
}

/* Responsitivity */
@media screen and (max-width: 741px) {
    #home h1 {
        font-size: 50px;
    }
}
@media screen and (max-width: 969px) {
    .column {
        display: block;
        width: 100%;
    }
    .column p {
        text-align: left;
    }
    #about {
        padding: 50px;
    }
    .profile-left {
        padding: 30;
        display: block;
        margin: 20px;
    }
    .circle-left {
        margin: 10 auto;
        width: 150px;
        height: 150px;
        display: block;
        float: none;
    }
    .profile-content-left {
        padding: 0;
        width: 100%;
    }
    .profile-content-left h2, .profile-content-left h3{
        text-align: center;
    }
    .profile-right {
        padding: 30;
        display: block;
        margin: 20px;
        text-align: left;
    }
    .circle-right {
        margin: 10 auto;
        width: 150px;
        height: 150px;
        display: block;
        float: none;
    }
    .profile-content-right {
        padding: 0;
        width: 100%;
    }
    .profile-content-right h2, .profile-content-right h3 {
        text-align: center;
    }
}
@media screen and (max-width: 935px) {
    #navbar {
        width: 935px;
    }
}
@media screen and (min-width: 1147px) {
    #header {
        margin-top: -150px;
    }
    #home h1 {
        font-size: 70px;
    }
    #partners.container {
        margin: 0 200;
        width: 70%;
    }
}